@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

div.tupper {
    background-color:lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    overflow: hidden;
    margin: 0;
    /* padding: 10px; */
    border: 1px solid white;  
}

div.project1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid white;  
    transition: background-color ease-out .5s; 
}

div.project2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border: 1px solid white; 
    transition: background-color ease-out .5s; 
}

div.p1-name {
    padding-top: 200px;
    padding-bottom: 200px;
    font-weight: bold;
    transition: font-size ease-out .5s;
}

div.p2-name {
    padding-top: 200px;
    padding-bottom: 200px;
    font-weight: bold;
    transition: font-size ease-out .5s;
}

div.project1:hover,
div.project2:hover {
    background-color: #405270;
    transition: background-color ease-in .5s;
}

div.p1-name:hover,
div.p2-name:hover {
    color: lightgrey;
    font-size: 20px;
    transition: ease-in .5s;
}

.calc-proj {
    text-decoration: none;
}

.calc-proj:visited {
    text-decoration: none;
    color: black;
}

/* @media only screen and (max-width: 500px) {
    div.p1-name {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    div.p2-name {
        padding-top: 100px;
        padding-bottom: 100px;
    }
} */
