div.tops {
    background-color:lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    overflow: hidden;
    margin: 0;
    border: 1px solid white;  
}

div.title {
    font-size: 30px;
    font-weight: bold;
    padding: 10px
}