div.finders {
    background-color:#405270;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    overflow: hidden;
    margin: 0;
    border: 1px solid white;  
}

div.btn1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    padding: 200px 200px;
}

div.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 200px 200px;
}

button.linkd {
    background-color: #6a89bd;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
}

button.git {
    background-color: #6a89bd;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

button.linkd:hover, 
button.git:hover {
    background-color: lightgrey;
    transition: background-color  ease-in 1s;
}

a.lbtn,
a.gbtn {
    text-decoration: none;
    color: black;
}
